<h1>Articles list</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article|%>
            <tr>
                <td><%= article.title%></td>
                <td><%= article.description%></td>
                <td>Placeholder</td>
            </tr>
        <%end%>
    </tbody>
</table>

<button onclick="location.href='/articles/new'" type="button">Create Article</button>