<h1 class="text-center pt-4"><%= @category.name%></h1>
<div class="text-center mt-4">
    <% if logged_in? && current_user.admin? %>
        <%= link_to 'Edit category name', edit_category_path(@category), class: "btn btn-outline-info" %>
    <% end %>
</div>
<hr>
<h2 class="text-center"> Articles </h2>
<%= render 'articles/articles' %>